/* Reusable e.g. buttons */
button { 
	background:inherit; 
	color:$light-color;
	width:250px; 
	font-size:$small-font-size; 
	line-height:35px; 
	border:$default-border; 
	font-weight:bold; 
	text-transform:$stand-out; 
	transition:all .3s ease 0s;
	
	&:hover {
		background:$light-color; 
		color:$primary-colour; 				
	}
}

.flip-card {
	position:relative;
	cursor:pointer;
	margin:5px auto;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.1);
}

.flip-card > div {
    width:100%;
    color:$light-color;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
    transition:height 1.5s ease 0s;	
}
