/* Reusable e.g. buttons */
button { 
	background:inherit; 
	color:$light-color;
	width:250px; 
	font-size:$small-font-size; 
	line-height:35px; 
	border:$default-border; 
	font-weight:bold; 
	text-transform:$stand-out; 
	transition:all .3s ease 0s;
	
	&:hover {
		background:$light-color; 
		color:$primary-colour; 				
	}
}

.flip-card {
	position:relative;
	cursor:pointer;
	color:$dark-color;
	margin:0 auto;
	background-size:contain;
	background-repeat:no-repeat;	
	overflow:hidden;
}

.flip-card > div {
    position:absolute;
    left:0;
    bottom:10px;
    background-color:$accent-color;
    transition:height 1.5s ease 0s;	
}
