/* overall layout of the web page such as container and grid systems */
body { 
	min-width:320px; 
}

main {
	max-width:800px;
	margin:0 auto;
	
			
	@include mediumScreen {
		padding:0 10px;
	}
}

header {
	margin-top:40px;
}

section {
	margin-top:30px;
}

nav {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	
	@include smallScreen {
		flex-direction:column;
	}
	
	a:first-of-type {
		@include smallScreen {
			margin-bottom: 20px;
		}		
	}
}

/* Footer */
footer { 
	margin-top:40px;
	padding-top:20px; 
	background-color:$dark-color; 
	color:$pale-accent-color; 
}
