/* overall layout of the web page such as container and grid systems */
main {
	max-width:800px;
	margin:0 auto;
}

header {
	margin-top:40px;
}

nav {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	
	@include smallScreen {
		flex-direction:column;
	}
	
	a:first-of-type {
		@include smallScreen {
			margin-bottom: 20px;
		}		
	}
}

/* Footer */
footer { 
	margin-top:40px;
	padding-top:20px; 
	background-color:$dark-color; 
	color:$pale-accent-color; 
}

#social-icons a i { 
	font-size:$medium-font-size; 
}

#social-icons a:not(:first-of-type) { 
	margin-left:10px; 
}