/* resets, variables, mixins, and some utility CSS classes */
@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Anaheim");
body {
  background-color: #54c0b4;
  font-family: "Anaheim", sans-serif;
  margin: 0;
  text-align: center; }

p, p a, ul li, dt, dl, i {
  font-size: 18px; }

p, a, ul li, dt, dl, i {
  color: #ffffff;
  margin-top: 0; }

h1, h2, h3 {
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase; }

h1 {
  width: 240px;
  font-family: "Karla", sans-serif;
  font-size: 35px;
  font-weight: 500;
  border-bottom: 4px double #ffffff; }

h2 {
  font-family: "Droid Serif", serif;
  font-size: 22px;
  font-style: italic;
  font-weight: normal;
  padding-top: 10px;
  text-transform: none; }

h3 {
  padding-top: 10px; }

a {
  text-decoration: none; }
  a img {
    border: 0; }

ul, dl {
  list-style-position: inside; }

ul {
  padding-left: 0; }

dl {
  padding: 20px;
  margin: 0; }

dt {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 5px; }

dd {
  display: list-item;
  list-style-type: disc;
  text-align: left;
  margin: 0 10px; }

figure {
  margin: 0; }

button {
  font-family: "Karla", sans-serif;
  outline: 0; }

footer a {
  color: #fabb77; }

small {
  padding: 15px 0;
  display: block; }

i {
  vertical-align: middle; }

hr {
  color: #cdcbc9; }

#social-icons a i {
  color: #fabb77;
  font-size: 22px; }

#social-icons a:not(:first-of-type) {
  margin-left: 10px; }

/* Reusable e.g. buttons */
button {
  background: inherit;
  color: #ffffff;
  width: 250px;
  font-size: 13px;
  line-height: 35px;
  border: 1px solid white;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease 0s; }
  button:hover {
    background: #ffffff;
    color: #54c0b4; }

.flip-card {
  position: relative;
  cursor: pointer;
  margin: 5px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); }

.flip-card > div {
  width: 100%;
  color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: height 1.5s ease 0s; }

/* overall layout of the web page such as container and grid systems */
body {
  min-width: 320px; }

main {
  max-width: 800px;
  margin: 0 auto; }
  @media (max-width: 812px) {
    main {
      padding: 0 10px; } }

header {
  margin-top: 40px; }

section {
  margin-top: 30px; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media (max-width: 550px) {
    nav {
      flex-direction: column; } }
  @media (max-width: 550px) {
    nav a:first-of-type {
      margin-bottom: 20px; } }

footer {
  margin-top: 40px;
  padding-top: 20px;
  background-color: #338078;
  color: #fabb77; }

/* Animating screen */
@media (min-width: 813px) {
  #animated-screen {
    position: relative; }
  #top_row, #hero_row, #last_row_first_square {
    animation: screenContentsSlideIn 1.5s forwards;
    -moz-animation: screenContentsSlideIn 1.5s forwards;
    -webkit-animation: screenContentsSlideIn 1.5s forwards;
    animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
    -webkit-animation-delay: 1.25s; }
  #top_row, #hero_row, #last_row_first_square, #last_row_second_square, #last_row_top_rectangle, #last_row_middle_rectangle, #last_row_bottom_rectangle {
    position: absolute;
    opacity: 0; }
  #top_row {
    width: 145px;
    height: 16px;
    background-color: #97DDEB;
    top: 14px;
    left: 125px; }
  #hero_row {
    width: 145px;
    height: 34px;
    background-color: #F96F74;
    top: 33px;
    left: 125px;
    animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s; }
  #last_row_first_square, #last_row_second_square {
    width: 26px;
    height: 20px;
    background-color: #FCDC7B;
    top: 70px;
    animation-delay: 1.75s;
    -moz-animation-delay: 1.75s;
    -webkit-animation-delay: 1.75s; }
  #last_row_first_square {
    left: 125px; }
  #last_row_second_square {
    left: 153px;
    animation: secondSquareSlideIn 1.25s forwards;
    -moz-animation: secondSquareSlideIn 1.25s forwards;
    -webkit-animation: secondSquareSlideIn 1.25s forwards;
    animation-delay: 1.75s;
    -moz-animation-delay: 1.75s;
    -webkit-animation-delay: 1.75s; }
  #last_row_top_rectangle, #last_row_middle_rectangle, #last_row_bottom_rectangle {
    width: 88px;
    height: 5px;
    background-color: #F8AE85;
    animation: rectangleSlideIn 1.5s forwards;
    -moz-animation: rectangleSlideIn 1.5s forwards;
    -webkit-animation: rectangleSlideIn 1.5s forwards;
    left: 182px;
    animation-delay: 2.00s;
    -moz-animation-delay: 2.00s;
    -webkit-animation-delay: 2.00s; }
  #last_row_top_rectangle {
    top: 71px; }
  #last_row_middle_rectangle {
    top: 78px; }
  #last_row_bottom_rectangle {
    top: 85px; }
  /* Top_row animation */
  @-moz-keyframes screenContentsSlideIn {
    0% {
      left: 0px; }
    25% {
      left: 170px; }
    50% {
      left: 110px; }
    100% {
      left: 125px;
      opacity: 1; } }
  @-webkit-keyframes screenContentsSlideIn {
    0% {
      left: 0px; }
    25% {
      left: 170px; }
    50% {
      left: 110px; }
    100% {
      left: 125px;
      opacity: 1; } }
  @keyframes screenContentsSlideIn {
    0% {
      left: 0px; }
    25% {
      left: 170px; }
    50% {
      left: 110px; }
    100% {
      left: 125px;
      opacity: 1; } }
  @-moz-keyframes secondSquareSlideIn {
    0% {
      left: 0px; }
    25% {
      left: 190px; }
    50% {
      left: 140px; }
    100% {
      left: 153px;
      opacity: 1; } }
  @-webkit-keyframes secondSquareSlideIn {
    0% {
      left: 0px; }
    25% {
      left: 190px; }
    50% {
      left: 140px; }
    100% {
      left: 153px;
      opacity: 1; } }
  @keyframes secondSquareSlideIn {
    0% {
      left: 0px; }
    25% {
      left: 190px; }
    50% {
      left: 140px; }
    100% {
      left: 153px;
      opacity: 1; } }
  @-moz-keyframes rectangleSlideIn {
    0% {
      left: 0px; }
    25% {
      left: 220px; }
    50% {
      left: 170px; }
    100% {
      left: 182px;
      opacity: 1; } }
  @-webkit-keyframes rectangleSlideIn {
    0% {
      left: 0px; }
    25% {
      left: 220px; }
    50% {
      left: 170px; }
    100% {
      left: 182px;
      opacity: 1; } }
  @keyframes rectangleSlideIn {
    0% {
      left: 0px; }
    25% {
      left: 220px; }
    50% {
      left: 170px; }
    100% {
      left: 182px;
      opacity: 1; } } }

.flip-card.show-details > div {
  -moz-animation: details-bg-change 1.5s forwards;
  -webkit-animation: details-bg-change 1.5s forwards;
  animation: details-bg-change 1.5s forwards; }

@-moz-keyframes details-bg-change {
  from {
    background-color: #feac4c; }
  to {
    background-color: rgba(151, 148, 145, 0.95); } }

@-webkit-keyframes details-bg-change {
  from {
    background-color: #feac4c; }
  to {
    background-color: rgba(151, 148, 145, 0.95); } }

@keyframes details-bg-change {
  from {
    background-color: #feac4c; }
  to {
    background-color: rgba(151, 148, 145, 0.95); } }

#home span {
  text-transform: none; }

#home img {
  margin: 20px auto 0 auto;
  max-width: 540px;
  width: 100%; }

#skills-section {
  display: none; }
  #skills-section .wrapper {
    display: flex; }
    @media (min-width: 813px) {
      #skills-section .wrapper {
        flex-direction: row; } }
    @media (max-width: 550px) {
      #skills-section .wrapper {
        flex-direction: column; } }
  #skills-section .wrapper > section {
    width: 100%;
    padding-top: 30px;
    background-color: #3da499; }
  #skills-section .wrapper > section:first-of-type {
    border-right: 10px solid #54c0b4; }
  #skills-section img {
    width: 160px; }

#professional-tiles {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: flex;
  padding-top: 30px; }
  @media (min-width: 813px) {
    #professional-tiles {
      flex-direction: row; } }
  @media (max-width: 550px) {
    #professional-tiles {
      flex-direction: column; } }
  @media (max-width: 812px) {
    #professional-tiles {
      display: none; } }

@media (max-width: 812px) {
  #professional + nav {
    margin-top: 20px; } }

figcaption {
  display: none; }

figure {
  height: 235px;
  overflow: hidden;
  position: relative;
  overflow: hidden; }
  figure:hover img {
    opacity: 0.8;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    transform: scale(1.15); }
  figure:hover figcaption {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0; }
  figure:hover p {
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding: 32% 10px; }

#portfolio main {
  max-width: 900px; }

section > section {
  margin-top: 0; }

.companies {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center; }
  @media (min-width: 813px) {
    .companies {
      flex-direction: row; } }
  @media (max-width: 550px) {
    .companies {
      flex-direction: column; } }
  @media (max-width: 550px) {
    .companies {
      flex-wrap: nowrap; } }
  .companies .flip-card {
    width: 290px;
    height: auto; }
  .companies ul {
    list-style-type: none; }

.flip-card img {
  width: 290px;
  height: 260px;
  display: block;
  border-radius: 5px; }

.flip-card > div {
  width: 100%;
  height: 74px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #feac4c; }

.flip-card .heading {
  font-family: "Karla", sans-serif; }
  .flip-card .heading span {
    display: block;
    padding: 10px 0; }

.flip-card .description {
  display: none; }
  .flip-card .description ul {
    margin: 0; }
  .flip-card .description a {
    display: block;
    margin-top: 5px; }

.flip-card.show-details > div {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%; }

.flip-card.show-details .heading span {
  display: none; }

.flip-card.show-details .description {
  display: block;
  padding: 10px; }
