/* General page styles */
#wrapper, .companies .row {
  max-width: 900px; }

#wrapper {
  margin: 0 auto 30px auto;
  overflow: hidden; }

h2, .fa-caret-down {
  text-align: center; }

h3 {
  margin: 5px 0 0 0; }

.fa-caret-down {
  font-size: 20px;
  display: block; }

/* Company tiles */
.companies section {
  float: left;
  width: 294px;
  height: 250px;
  position: relative;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat; }

/* Tile */
.companies section > div {
  width: 295px;
  position: absolute;
  bottom: 0;
  height: 60px;
  padding-bottom: 5px;
  left: 0;
  background-color: #feb865;
  color: white;
  transition: height 1.5s ease 0s; }

/* Orange name panel */
.companies section > div * {
  text-align: center; }

/* Tile animation */
.overview-panel {
  height: 250px !important;
  -moz-animation: overview-bg-change 1.5s forwards;
  -webkit-animation: overview-bg-change 1.5s forwards;
  animation: overview-bg-change 1.5s forwards;
  overflow-y: hidden; }

.overiew {
  display: none;
  padding: 0 10px; }

.overview-panel .overiew {
  display: block; }

@-moz-keyframes overview-bg-change {
  from {
    background-color: #feb865; }
  to {
    background-color: rgba(151, 148, 145, 0.95); } }

@-webkit-keyframes overview-bg-change {
  from {
    background-color: #feb865; }
  to {
    background-color: rgba(151, 148, 145, 0.95); } }

@keyframes overview-bg-change {
  from {
    background-color: #feb865; }
  to {
    background-color: rgba(151, 148, 145, 0.95); } }

/* Overview panel contents */
.overiew ul, .overiew p ~ a {
  border: 1px solid white;
  padding: 5px 0; }

/* Frame CTA links */
.overiew ul {
  list-style-type: none; }

.overiew li {
  line-height: 25px; }

.overiew p ~ a {
  display: block; }

.overiew a {
  color: white; }

.companies section > div li:hover, .companies section > div a:hover {
  background-color: #bbb7b4; }

.overview-panel h3 {
  padding: 10px 0; }

.overview-panel .fa-caret-down {
  display: none; }
