/* General page styles */
main { width:100%; margin:0 auto; background-color:#54c0b4; }
main > section { margin:0 auto; }
#professional div:first-child { font-size:17px; text-align:center; }

/* Skills section  */
#skills-section > div { display:table-cell; width:395px; margin-top:30px; padding:40px 0; background-color:#4fb5aa; }
#skills-section > div:first-of-type { border-right:9px solid #54C0B4; }
#skills-section > div:last-of-type img { width:163px; }
#skills-section > div:last-of-type dl dt:nth-of-type(2) { margin-top:15px; }
#skills-section { width:100%; display:none; position:relative; overflow:hidden; margin-bottom:20px; }	
#skills-section h2 { text-align:center; font-size:28px!important; padding-bottom:10px; }
#skills-section dl { width:400px; color:white; padding:16px 0 0 0; margin:0; }
#skills-section dl dt { text-decoration:underline; font-size:17px; text-align:center; margin:0 0 5px 0; }
#skills-section dl dd { font-size:18px; display:list-item; list-style-type:disc; margin:0 15%; }
#contact-cta, #skills-cta { width:31.875%!important; line-height:35px; color:white; }
#skills-section img { margin:0 auto; }
#animated-screen img { max-width:163px; }
#skills-cta { float:right; cursor:pointer; }

/* Image tiles */
#professional-tiles { border-bottom:3px solid #F1F0EE; clear:left; padding:10px 0 30px 0; margin:0 auto; max-width:800px; width:100%; overflow:hidden; }
figure { float:left; margin-bottom:50px; position:relative; margin:0; }
figure, figure img, figcaption { max-width:266px; width:100%; }
figcaption p { text-align:center; display:none; }
figure { overflow:hidden; max-height:235px;}
figure p { margin:30% 15px 0 15px; font-size:17px; font-weight:bold; color:black; }
#ppp_link { border-bottom:1px solid #c2e6d4; }

/********************/

/* Desktop */
@media all and (min-width:768px) {
#professional p:last-of-type { padding-bottom:20px; }
}

/* Animating screen */
@media all and (min-width:901px) {
#animated-screen{ position:relative; }
#animated-screen div:first-child { margin:0 auto; }
#top_row, #hero_row, #last_row_first_square { animation:screenContentsSlideIn 1.5s forwards; -moz-animation:screenContentsSlideIn 1.5s forwards; -webkit-animation:screenContentsSlideIn 1.5s forwards; animation-delay:1.25s; -moz-animation-delay:1.25s; -webkit-animation-delay:1.25s; }
#top_row, #hero_row, #last_row_first_square, #last_row_second_square, #last_row_top_rectangle, #last_row_middle_rectangle, #last_row_bottom_rectangle { position:absolute; opacity:0; }
#top_row { width:150px; height:16px; background-color:#97DDEB; top:14px; left:125px; }
#hero_row { width:150px; height:34px; background-color:#F96F74; top:33px; left:125px; animation-delay:1.5s; -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
#last_row_first_square, #last_row_second_square { width:26px; height:20px; background-color:#FCDC7B; top:70px; animation-delay:1.75s; -moz-animation-delay:1.75s; -webkit-animation-delay:1.75s; }
#last_row_first_square { left:125px; }
#last_row_second_square { left:153px; animation:secondSquareSlideIn 1.25s forwards; -moz-animation:secondSquareSlideIn 1.25s forwards; -webkit-animation:secondSquareSlideIn 1.25s forwards; animation-delay:1.75s; -moz-animation-delay:1.75s; -webkit-animation-delay:1.75s; }
#last_row_top_rectangle, #last_row_middle_rectangle, #last_row_bottom_rectangle { width:93px; height:5px; background-color:#F8AE85; animation:rectangleSlideIn 1.5s forwards; -moz-animation:rectangleSlideIn 1.5s forwards; -webkit-animation:rectangleSlideIn 1.5s forwards; left:182px; animation-delay:2.00s; -moz-animation-delay:2.00s; -webkit-animation-delay:2.00s; }
#last_row_top_rectangle { top:71px; }
#last_row_middle_rectangle { top:78px; }
#last_row_bottom_rectangle { top:85px; }

/* Top_row animation */
@-moz-keyframes screenContentsSlideIn { 0% { left:0px; } 25% { left:170px; } 50% { left:110px; } 100% { left:125px; opacity:1; } }
@-webkit-keyframes screenContentsSlideIn { 0% { left:0px; } 25% { left:170px; } 50% { left:110px; } 100% { left:125px; opacity:1; } }
@keyframes screenContentsSlideIn { 0% { left:0px; } 25% { left:170px; } 50% { left:110px; } 100% { left:125px; opacity:1; } }
@-moz-keyframes secondSquareSlideIn { 0% { left:0px; } 25% { left:190px; } 50% { left:140px; } 100% { left:153px; opacity:1; } }
@-webkit-keyframes secondSquareSlideIn { 0% { left:0px; } 25% { left:190px; } 50% { left:140px; } 100% { left:153px; opacity:1; } }
@keyframes secondSquareSlideIn { 0% { left:0px; } 25% { left:190px; } 50% { left:140px; } 100% { left:153px; opacity:1; } }
@-moz-keyframes rectangleSlideIn { 0% { left:0px; } 25% { left:220px; } 50% { left:170px; } 100% { left:182px; opacity:1; } }
@-webkit-keyframes rectangleSlideIn { 0% { left:0px; } 25% { left:220px; } 50% { left:170px; } 100% { left:182px; opacity:1; } }
@keyframes rectangleSlideIn { 0% { left:0px; } 25% { left:220px; } 50% { left:170px; } 100% { left:182px; opacity:1; } }
}
/* / Animating screen */

@media all and (min-width:830px) { main > section { width:801px; } }
@media all and (max-width:829px) { main > section { width:90%; } #professional-tiles { display:none; } #skills-section dl { width:100%; } #skills-section > div { padding-top:20px; padding-bottom:20px; } }

/* Image tiles and page hovers */
@media all and (min-width:769px) {
figure img { transition:all 0.5s ease; }
figure:hover img { opacity:0.7; transition:opacity 0.35s ease 0s, transform 0.35s ease 0s; -webkit-transition:opacity 0.35s ease 0s, transform 0.35s ease 0s; transform:scale(1.15); overflow:hidden; }
figure:hover p { display:block; }
figure:hover figcaption { height:235px; background-color:rgba(255, 255, 255, 0.7); position:absolute; max-width:266.5px; top:0; left:0; margin:0; }
nav { margin-top:45px; }
}
@media all and (max-width:768px) { #contact-cta { display:none; } #skills-cta { float:none; display:block; margin:0 auto 5% auto; width:100%!important; max-width:522px; } }
@media all and (max-width:627px) { #skills-section > div { display:block; width:100%; } }