@media all and (min-width :770px) {
nav a:hover, .button:hover { background-color:white; border:1px solid #4baca1; color:#54C0B4; transition:all 0.3s ease 0s; }
footer { border-top:1px solid white; }
footer a i:hover { color:#f39e39!important; } }

@media all and (min-width :601px) { header img { min-width:350px; } }
@media all and (max-width :624px) {
body, header, main, footer { overflow-x:hidden; min-width:300px; }
#social-icons { padding-top:5px; }
footer small { padding:0 0 10px 0; }
small { margin-top:10px; } }

@media all and (min-width :582px) { #homepage img { min-width:522px; } }
@media all and (max-width :535px) { nav { width:100%; } nav a { float:none; width:90%; margin:0 auto 5% auto!important; } }

@media all and (max-width :443px) {
header h2:first-child { padding-top:0; }
header h2 span, header h2:first-child { font-size:22px; }
header h2:last-child { font-size:16px; padding:5px 0 10px 0; } }

@media all and (max-width :443px) { header h1 { width:90%; } }
@media all and (max-width :409px) { header h1 { font-size:35px!important; } }
@media all and (max-width :387px) { header h1 { font-size:33px!important; } } 
@media all and (max-width :365px) { header h1 { font-size:31px!important; } } 
@media all and (max-width :342px) { header h1 { font-size:29px!important; } } 
@media all and (max-width:321px) { header h1 { font-size:27px!important; } } 

/*
/* iPhone 5s- portrait */
@media all and (max-width:625px) and (orientation:portrait) {
header h1 { font-size:38px; text-align:center; padding-bottom:10px; }
nav a:first-child, nav-button:last-child, #view-project { height:37px; }
header img { min-width:275px!important; margin-top:5px; margin-bottom:10px; }
#homepage img { min-width:288px!important; width:90%!important; }
}

/* iPhone 5s- landscape */
@media all and (max-width:581px) and (orientation:landscape) {
header h1 { font-size:36px; text-align:center; } 
header img { width:60%; }
}