/* General page styles */
#wrapper, .companies .row { max-width:901px; }
#wrapper { margin:0 auto 30px auto; overflow:hidden; }
header h1 { padding-top:20px; border-top:0; }
h2 { color:#338078; text-shadow:1px 0 #c6c8c8; }
h2, .fa-caret-down { text-align:center; }
h3 { margin:5px 0 0 0; }
.fa-caret-down { font-size:20px; display:block; }

/* Company tiles */
.companies section { float:left; width:295px; height:250px; position:relative; cursor:pointer; background-size:contain; background-repeat:no-repeat; } /* Tile */
.companies section > div { width:295px; position:absolute; bottom:0; height:60px; padding-bottom:5px; left:0; background-color:#feb865; color:white; transition:height 1.5s ease 0s; } /* Orange name panel */
.companies section > div * { text-align:center; }

/* Tile backgrounds */
#disney { background-image:url('/images/disney_tile.png'); }
#dashwood { background-image:url('/images/dashwood_tile.png'); }
#hopelands { background-image:url('/images/hopelands_tile.png'); }
#selfridges { background-image: url('/images/selfridges_tile.png'); } 
#ppp{ background-image: url('/images/ppp_tile.png'); } 
#whitestuff{ background-image: url('/images/ws_tile.png'); } 
#jia{ background-image: url('/images/jia_tile.png'); } 
#theyer{ background-image: url('/images/theyer_tile.png'); } 
#ob { background-image:url('/images/ob_tile.png'); }

/* Tile animation */
.overview-panel { height:250px!important; -moz-animation:overview-bg-change 1.5s forwards; -webkit-animation:overview-bg-change 1.5s forwards; animation:overview-bg-change 1.5s forwards; overflow-y:hidden; }
.overiew { display:none; padding:0 10px; }
.overview-panel .overiew { display:block; }

@-moz-keyframes overview-bg-change {
		from { background-color:#feb865; }
		to { background-color:rgba(151, 148, 145, 0.95) }
} 

@-webkit-keyframes overview-bg-change {
		from { background-color:#feb865; }
		to { background-color:rgba(151, 148, 145, 0.95) }
}

@keyframes overview-bg-change {
		from { background-color:#feb865; }
		to { background-color:rgba(151, 148, 145, 0.95) }
}

/* Overview panel contents */
p, ul li { font-size:16px; }
.overiew ul, .overiew p ~ a { border:1px solid white; padding:5px 0;  } /* Frame CTA links */
.overiew ul { list-style-type:none; }
.overiew li { line-height:25px; }
.overiew p ~ a { display:block; }
.overiew a { text-decoration:none; color:white; }
.companies section > div li:hover, .companies section > div a:hover { background-color:#bbb7b4; }
.overview-panel h3 { padding:10px 0; }
.overview-panel .fa-caret-down { display:none; }

