/* Base styles */
header, nav, main, section, small, footer, header img, main img, footer img, small, details, nav a, figure, figcaption { display:block; }
header h1, header h2, header img, footer img, nav, small, details { margin:0 auto; }
h1, header h2, nav a, .button, small, #social-icons { text-align:center; }
body, header, main, header h1, main img { width:100%; }
body { background-color:#338078; }
body * { text-transform:lowercase; }
.wf-loading body { visibility:hidden; } /* Hides flash of unstyled font as it's downloading */
.wf-active body { font-family:"orator-std",sans-serif; visibility:visible; }
body { margin:0; }
header h1, header h1 a, nav a, h2, p, p a, ul li { color:white; }
a { text-decoration:none; }
body:not(#home) h2 { color:#338078; font-size:24px; margin:0 0 5px 0; }
p, ul li { font-size:17px; line-height:22px; margin-top:0; }
ul { padding-left:0; }
a img { border:0; }
i { vertical-align:middle; }
.header-separator-img { max-width:225px; width:100%; margin:0 auto 15px auto; } 

/* Header */
header, main { background-color:#54C0B4; min-width:320px; }
header h1 { letter-spacing:-0.5px; border-bottom:4px double white; line-height:90%; padding:0 0 10px 0; }
#home h2 { font-size:21px; font-family:serif; font-style:italic; font-weight:normal; padding-top:10px; letter-spacing:0.5px; }
#home img { margin:20px auto 0 auto; max-width:540px; }
header img { padding-top:20px; width:30%; }
main { padding-top:10px; }

/* Nav */
nav { width:524px; overflow:hidden; clear:left; }
nav a, .button { float:left; width:249px; height:37px; margin-bottom:35px; border:1px solid white; font-weight:bold;  }
nav a:first-child, nav a:last-child { line-height:35px; }
nav a:first-child { margin-right:2.1%; }
nav a:last-child { margin-left:2.1%; }

/* Footer */
footer { padding-top:1.15%; }
#social-icons a { border:0; }
#social-icons a i { font-size:20px; color:#fabb77; }
#social-icons a:nth-of-type(2) i { margin:0 10px; }
small { color:#c1a944; padding:0.8% 0 1.25% 0; letter-spacing:1px; }

/********************/

@media all and (min-width:768px) {
#home header { padding-top:50px; }
header { padding-top:30px; }
h1 { max-width:285px; font-size:34px; }
}

@media all and (max-width:767px) {
header { padding-top:15px; }
}

@media all and (min-width:770px) {
nav a:hover, .button:hover { background-color:white; border:1px solid #4baca1; color:#54C0B4!important; transition:all 0.3s ease 0s; }
footer { border-top:1px solid white; }
footer a i:hover { color:#f39e39!important; } }

@media all and (min-width:601px) { header img { min-width:350px; } }
@media all and (max-width:624px) {
body, header, main, footer { overflow-x:hidden; min-width:300px; }
#social-icons { padding-top:5px; }
footer small { padding:0 0 10px 0; }
small { margin-top:10px; } }

@media all and (min-width:582px) { #home img { min-width:522px; } }
@media all and (max-width:535px) { nav { width:100%; } nav a { float:none; width:90%; margin:0 auto 5% auto!important; } }

@media all and (max-width:414px) {
header h1 { font-size:33px; }
}

/* iPhone 5s- portrait */
@media all and (max-width:625px) and (orientation:portrait) {
nav a:first-child, nav-button:last-child, #view-project { height:37px; }
header img { min-width:275px!important; margin-top:5px; margin-bottom:10px; }
#home img { width:90%!important; }
}

/* iPhone 5s- landscape */
@media all and (max-width:581px) and (orientation:landscape) {
header img { width:60%; }
}

