@media all and (min-width : 770px) and (max-width : 4000px) {
footer { border-top: 1px solid white; }
.nav_button:hover { background-color: white; border: 1px solid #4baca1; transition: all 0.3s ease 0s; }
#left_nav_button:hover, #right_nav_button:hover, .nav_button:hover  { color: #54C0B4!important; }
footer a i:hover { color: #f39e39!important; } }

@media all and (min-width : 582px) and (max-width : 4000px) {
#homepage img { min-width: 522px; } }

@media all and (min-width : 601px) and (max-width : 4000px) {
header img { min-width: 350px; } }

@media all and (max-width : 624px) {
body, header, main, footer { overflow-x: hidden; }
footer h5 { display: none; }
#socialIcons { padding-top: 15px; }
footer h5 span { font-size: 13px; }
footer small { padding: 0 0 10px 0; }
#left_nav_button, #right_nav_button { float: none; }
small { margin-top: 30px; } }

@media all and (max-width : 625px) {
.nav_button { width: 100%!important; } 
#right_nav_button { margin-left:0; }
}

@media all and (max-width : 580px) {
.nav_button { max-width: 473px!important; width: 90%!important; margin:0 auto; }
nav a { width: auto; } }

@media all and (max-width : 443px) {
header h2:first-child { padding-top: 0; }
header h2 span, header h2:first-child { font-size: 22px; }
header h2:last-child { font-size: 16px; padding: 5px 0 10px 0; } }

@media all and (max-width : 443px) {
header h1 { width: 90%; } }

@media all and (max-width : 409px) {
header h1 { font-size: 35px!important; } }

@media all and (max-width : 387px) {
header h1 { font-size: 33px!important; } } 

@media all and (max-width : 365px) {
header h1 { font-size: 31px!important; } } 

@media all and (max-width : 342px) {
header h1 { font-size: 29px!important; } } 

@media all and (max-width: 321px) {
header h1 { font-size: 27px!important; } } 

/* iPhone 5s- portrait */
@media all and (max-width: 625px) and (orientation: portrait) {
header img { min-width: 275px!important; margin-top: 5px; margin-bottom: 10px; }
#homepage img { min-width: 288px!important; width: 90%!important; }
.nav_button { min-width: 288px!important; font-size: 15px; float: none;  margin: 0 auto 5% auto!important;  }
footer h5 { padding-top: 3%; padding-bottom: 3%; }
#left_nav_button, #right_nav_button, #viewProjectLink { height: 37px; }
header h1 { font-size: 38px; text-align: center; padding-bottom: 10px; } }

/* iPhone 5s- landscape */
@media all and (max-width: 581px) and (orientation: landscape) {
header img { width: 60%; }
main img { width: 85%; }
.nav_button { width: 90%!important; font-size: 15px; float: none;  margin: 0 auto 5% auto!important;  }
footer h5 { padding-top: 3%; padding-bottom: 3%; }
header h1 { font-size: 36px; text-align: center; } }