@media all and (max-width: 4000px) and (min-width: 769px) {
.companies h4 { display: none; } }

@media all and (max-width: 900px)  {
#wrapper { max-width: 850px; } 
ul li { line-height: 19px; }
.tile_banner { margin-top: 4%; } }

@media all and (max-width: 850px)  {
h3 { font-size: 18px; } }

@media all and (max-width: 805px) and (min-width : 768px)  {
h3 { font-size: 17px; }
#wrapper { max-width: 750px; }
p, ul li { font-size: 12px; }
ul li { line-height: 18px; }
.companyTitle { height: 53px; } 
.titleAnimation { height: 214px; } }

@media all and (max-width: 810px) and (min-width : 700px)  {
.companyDescription p:nth-child(2) { display: none; }
ul li { line-height: 30px; } }

@media all and (max-width: 768px) {
.tile_banner { margin-top: 1%; } }

@media all and (max-width: 768px) and (min-width : 700px)  {
p, ul li { font-size: 13px; } }


@media all and (max-width: 767px) and (min-width: 651px) {
.companyTitle { padding-top: 12px; } }

@media all and (max-width: 635px) {
ul li { line-height: 27px; } }

@media all and (max-width: 767px) and (min-width: 321px) {
#latest_companies .companies, #bottom_row_of_companies .companies {  width: 49%; height: 0; }
#bottom_row_of_companies { padding-top: 0; }
#latest_companies .companies, #bottom_row_of_companies .companies { padding-bottom: 41.5%; } }

@media all and (max-width: 768px) and (min-width: 0px) {
.companies h4 { display: block; } }

@media all and (max-width: 767px) {
#spotlight_company, #latest_companies .companies, #bottom_row_of_companies .companies { float: none; margin-left: auto; margin-right: auto; }
#latest_companies .companies, #bottom_row_of_companies .companies { min-width: 295px; }
#spotlight_company { margin-bottom: 0.89%; }
#three { margin-bottom: 0.89%; }
#one, #two { margin-bottom: 1.4%!important; }
.companyDescription p:nth-child(2) { display: block; }
.titleAnimation { height: 318px!important; } }

@media all and (max-width: 601px) and (min-width: 0px) {
#wrapper { width: 92%; }
#latest_companies .companies, #bottom_row_of_companies .companies {  width: 295px; height: 250px!important; padding: 0!important; }	
#three { margin-top: 0!important; margin-bottom: 20px!important; }
#one, #two, #six, #five { margin-bottom: 20px!important; }
#five { margin-top: 20px!important; } }

@media all and (max-width: 320px) and (min-width: 0px) {
.titleAnimation { height: 250px; } }